.darktext{
    font-size: 18px;
    font-weight: bold;
}
.borderbox{
    border: 2px solid rgb(160, 158, 158);
    background-color: rgb(209, 206, 206);
}

/* show data cart  */
.borderradious
{
    border-radius: 15px;
    cursor: pointer;
}
.borderradious:hover
{
    border: 2px solid green;
}

/* Project data */
.titleheading{
    font-size: 18px;
    font-weight: bold;
    color:black;
}
.titletext
{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight:400px;
    opacity: .8;
}
.scroll{
    overflow-y:scroll;
}
.titletext1
{
    font-size: 18px;
    font-weight:bold;
    opacity: .9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .8px;
}
.hoverlist:hover
{
    cursor: pointer;
    background-color: rgb(195, 193, 193);
    border-radius: 10px;
}

/* cartLiftSection  */
.hoverliftSection:hover{
    background-color: darkgreen;
}
.buttonborder{
 border: 2px solid green;

}
.sortcolor{
    background-color: rgb(143, 232, 108);
}
.navbarcolor
{
    background-color: rgb(217, 215, 215);
}
.searchwidth
{
    /* width: 35%; */
    border-radius: 15px;

}
.locationwidth
{
    /* width:300px; */
    /* background-color: coral; */
}

.cartwidth1
{
    background-color:rgb(7, 186, 7);
}
.cartwidth2
{
    background-color:rgb(19, 102, 226);
    height: 30px;
    width: 50%;

}
.navbarbgcolor
{
    background-color: rgb(245, 229, 229);
}

.fixed{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 23%;
    
  }

  /* otp width css */

.otpwidth1
{

}
